{
    "tabWidth": 4,
    "printWidth": 150,
    "bracketSpacing": true,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "none",
    "endOfLine": "auto",
    "prettier/prettier": [
        "error",
        {
            "singleQuote": true,
            "parser": "flow"
        }
    ]
}
