* {
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 0.7rem;
    cursor: pointer !important;
    pointer-events: fill;
}
body {
    width: 100%;
    /* font-family: "Poppins, sans-serif"; */
    /* background-color: #f0f0f5; */
}
#navBar {
    background-color: "#fff !important";
    color: #393939;
    font-weight: 800;
    border-radius: 0;
}
/* src/App.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
